{% extends "base.html" %}{% block title %}{{username}}{% endblock %} {% block
content %}

<link rel="stylesheet" href="../static/style.css" />

<div class="container">
  <h1 align="center">{% block header %}Posts{% endblock %}</h1>
  <div class="post-container">
    {% for post in posts %}
    <div class="post">
      <div class="post-header">
        <div class="post-icon">
          <a href="{{ url_for('views.profile', username=post.user.username)}}">
            <img src="../static/images/pp_pic.jpg" alt="Profile Picture" />
        </div>
        <div class="username">{{post.user.username}}</div>
      </a>
      </div>
      <div class="post-content">{{post.text}}</div>
      <div class="post-footer">
        <div class="actions">
          <div class="action-icon">Like</div>
          <div class="action-icon">Share</div>
          <div class="action-icon">Comment</div>
        </div>
        <div class="post-time">2h ago</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
