{% extends "base.html" %}{% block title %}{{username}}{% endblock %} {% block
content %}
<div class="container">
  <h1 align="center">{% block header %}Posts{% endblock %}</h1>
  <div class="post-container">
    <!--Creates the Individual Post-->
    {% for post in posts %}
    <div class="post">
      <div class="post-header">
        <!--Delete Button (Need to add back)-->
        <div class="post-icon">
          <a href="{{ url_for('views.profile', username=post.user.username)}}">
            <img src="../static/images/pp_pic.jpg" alt="Profile Picture" />
        </div>
            <!--Shows the username and content of the author-->
            <div class="username">{{post.user.username}}</div>
          </a>
        </div>
        <div class="post-content">{{post.text}}</div>
        <div class="post-footer">
          <div class="actions">
            <div class="action-icon">Like</div>
            <div class="action-icon">Share</div>
            <div class="action-icon">Comment</div>
          </div>
          <div class="post-time">{{post.date_created}}</div>
        </div>
      </div>
      {% endfor %} {% block footer %}
      <!--Needs Updating-->
      <div align="center">
        <a href="/create-post"
          ><button type="button" class="btn btn-dark btn-lg">
            Create a Post
          </button></a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %} {% endblock %}
