{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="post-container">
  <h1 align="center">{% block header %}Home{% endblock %}</h1>
  <form method="POST">
    <div class="create-post">
      <textarea
        class="form-control"
        name="text"
        id="text"
        placeholder="What is happening {{user.username}}"
      ></textarea>
      <div class="create-post-footer">
        <div class="create-post-actions">
          <i
            class="create-post-icons fas fa-solid fa-image fa-lg"
            style="color: #000000"
          ></i>
          <i
            class="create-post-icons fas fa-regular fa-video fa-lg"
            style="color: #000000"
          ></i>
        </div>
        <button class="post-btn" type="submit">Post</button>
      </div>
    </div>
  </form>

  <!-- Individual Posts and Comments -->
  {% for post in posts %}
  <div class="post">
    <div class="post-header">
      <div class="post-icon">
        <a href="{{ url_for('views.profile', username=post.user.username)}}">
          <img src="../static/images/pp_pic.jpg" alt="Profile Picture" />
        </a>
      </div>
      <!-- Shows the username and content of the author -->
      <div class="username">{{post.user.username}}</div>

      <!-- Delete Button -->
      <div class="post-delete">
        {% if user.id == post.author %}
        <button
          type="button"
          class="btn btn-sm btn-dark dropdown-toggle"
          data-bs-toggle="dropdown"
        ></button>
        <ul class="dropdown-menu">
          <li>
            <a href="/delete-post/{{post.id}}" class="dropdown-item">Delete</a>
          </li>
        </ul>
        {% endif %}
      </div>
    </div>

    <div class="post-content">{{post.text}}</div>

    <div class="post-footer">
      <div class="actions">
        <div class="action-icon">Like</div>
        <div class="action-icon">Comment</div>
        <div class="action-icon">Share</div>
      </div>
      <div class="post-time">{{post.date_created}}</div>
    </div>

    <!--Creating Comments-->
    <div class="collapse" id="comments-{{post.id}}">
      <div class="comment">
        <div class="comment-body" id="comments-expanded-{{post.id}}">
          {% for comment in post.comments %}
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <a href="/user/{{comment.user.username}}"
                >{{comment.user.username}}</a
              >: {{comment.text}}
            </div>
            <div>
              <small class="text-muted">{{comment.date_created}}</small>
              {% if user.id == comment.author or user.id == post.author %}
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-sm btn-primary dropdown-toggle"
                  data-bs-toggle="dropdown"
                ></button>
                <ul class="dropdown-menu">
                  <li>
                    <a
                      href="/delete-comment/{{comment.id}}"
                      class="dropdown-item"
                      >Delete</a
                    >
                  </li>
                </ul>
              </div>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <p class="post-comment">
      {% if post.comments|length > 0 %}
      <a data-bs-toggle="collapse" href="#comments-{{post.id}}" role="button">
        <small>View {{post.comments|length}} Comments</small>
      </a>
      {% else %}
      <small class="text-muted">No Comments</small>
      {% endif %}
    </p>

    <form
      class="input-group mb-3"
      method="POST"
      action="/create-comment/{{post.id}}"
    >
      <input
        type="text"
        id="text"
        name="text"
        class="form-control"
        placeholder="Write a comment"
      />
      <button type="submit" class="btn btn-primary">Comment</button>
    </form>
  </div>
  {% endfor %} {% block footer %} {% endblock %}
</div>
{% endblock %}
