{% extends "posts.html" %}{% block title %}{{username}}{% endblock %} {% block
content %}
<title>Profile Page</title>
<body>
  <div class="profile-container">
    <div class="profile-banner">
      <img src="../static/images/background.jpg" alt="Profile Banner" />
    </div>
    <div class="profile-picture">
      <img src="../static/images/pp_pic.jpg" alt="Profile Picture" />
    </div>
    <div class="profile-header">
      <h1 class="profile-name">{{username}}</h1>
      <p class="profile-handle">@{{username}}</p>
    </div>
    <div class="profile-content">
      <p class="profile-bio">I like Cheese and Pickles</p>
      <ul class="profile-stats">
        <li>
          <span class="stat-label">Posts </span>
          <!--Shows the number of posts-->
          <span class="stat-value"> {{post_number}}</span>
        </li>
        <li>
          <span class="stat-label">Followers </span
          ><span class="stat-value">0</span>
        </li>
        <li>
          <span class="stat-label">Following </span
          ><span class="stat-value">0</span>
        </li>
      </ul>
    </div>
  </div>
</body>
</br>
<div class="post-container">
  <form method="POST">
    {% if current_user.username == username %}
    <div class="create-post">
      <textarea
        class="form-control"
        name="text"
        id="text"
        placeholder="What is happening, {{user.username}}!"
      ></textarea>
      
      <div class="create-post-footer">
        <div class="create-post-actions">
          <i
            class="create-post-icons fas fa-solid fa-image fa-lg"
            style="color: #000000"
          ></i>
          <i
            class="create-post-icons fas fa-regular fa-video fa-lg"
            style="color: #000000"
          ></i>
        </div>
        <button class="post-btn" type="submit">Post</button>
      </div>
      {% endif %}
    </div>
    <!--Creates the Individual Post-->
    {% for post in posts %}
    <div class="profile-container post">
      <div class="post-header">
        <div class="post-icon">
          <a href="{{ url_for('views.profile', username=post.user.username)}}">
            <img src="../static/images/pp_pic.jpg" alt="Profile Picture" />
          </div>
            <!--Shows the username and content of the author-->
            <div class="username">{{post.user.username}}</div>
          </a>
          <!--Delete Button-->
          <div class="post-delete">
            {% if user.id == post.author %}
            <button
              type="button"
              class="btn btn-sm btn-dark dropdown-toggle"
              data-bs-toggle="dropdown"
            ></button>
            <ul class="dropdown-menu">
              <li>
                <a href="/delete-post/{{post.id}}" class="dropdown-item"
                  >Delete</a
                >
              </li>
            </ul>
            {% endif %}
          </div>
        </div>
        <div class="post-content">{{post.text}}</div>
        <div class="post-footer">
          <div class="actions">
            <div class="action-icon">Like</div>
            <div class="action-icon">Share</div>
            <div class="action-icon">Comment</div>
          </div>
          <div class="post-time">{{post.date_created}}</div>
        </div>
      </div>
    </div>
    {% endfor %} {% block footer %} {% endblock %} {% endblock %}
  </form>
</div>
