{% extends "base.html" %}{% block title %}Feed{% endblock %} {% block content %}
<link rel="stylesheet" href="../static/style.css">
<!--Checks if the ID logged in matches the Profile ID-->
{% if current_user.username.lower() == username.lower() %}
<div class="container d-flex justify-content-center align-items-center">
  <div class="card">
    <div class="upper">
      <img src="../static/images/background.jpg" class="img-fluid" />
    </div>

    <div class="user text-center">
      <div class="profile">
        <img
          src="../static/images/pp_pic.jpg"
          class="rounded-circle"
          width="80"
        />
      </div>
    </div>

    <div class="mt-5 text-center">
      <h4 class="mb-0">@{{username}}</h4> 
      <span class="text-muted d-block mb-2">United Kingdom</span>

      <button class="btn btn-primary btn-sm follow">Edit Profile</button>
        </div> 
      </div>
    </div>
  </div>
</div>
{% else %}
<h2>Nothing to see here</h2>
{% endif %}

<!--Need to add a user edit button-->
{% endblock %}

<!--../static/images/690eefe3ba1f553e0ea527f51ee407b604b681b4.jpg-->
